

.common {
    font-size: 30px;
    color: white;
}

.first {
    background-color: green;
}

.second {
    background-color: red;
    position: absolute;
    top: 10px;
}

.third {
    background-color: blue;
}